:root {
    --blue: #1d4c8b;
    --pink: #f5d1c9;
    --baby-pink: #fae7e3;
    --light-blue: #a8baca;
    --white: #fff8ee;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    font-size: 1rem;
    font-size: clamp(1rem, 0.8863636363636364rem + 0.5681818181818182vw, 1.3125rem);
    font-weight: 400;
    text-align: center;
    color: var(--blue);
}

/* general text styling */

h2, h3, h4, a {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    font-size: clamp(2rem, -0.5681818181818179rem + 12.840909090909088vw, 9.0625rem);
    line-height: 2rem;
    line-height: clamp(2rem, -0.5681818181818179rem + 12.840909090909088vw, 9.0625rem);
    font-weight: 500;
    padding-top: 70px;
}

h1 span {
    display: block;
}

.tagline {
    font-family: "Sacramento";
    font-size: 2rem;
    font-size: clamp(2rem, 1.1590909090909092rem + 4.204545454545454vw, 4.3125rem);
    padding-top: 18px;
}

h2 {
    font-size: 2rem;
    font-size: clamp(2rem, 0.8863636363636365rem + 5.568181818181818vw, 5.0625rem);
    letter-spacing: 8px;
    line-height: 53px;
    font-weight: 700;
}

h2 + p {
    margin-block: 30px 70px;
}

h3 {
    font-size: 0.9375rem;
    font-size: clamp(0.9375rem, 0.6647727272727273rem + 1.3636363636363635vw, 1.6875rem);
    letter-spacing: 5px;
    line-height: 21px;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.9318181818181819rem + 0.3409090909090909vw, 1.1875rem);
    letter-spacing: 1px;
    line-height: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* utilities */

.container {
    width: min(90%, 1240px);
    margin: 0 auto;
}

.reset,
.reset a {
    text-decoration: none;
    list-style: none;
    color: var(--blue);
    
}

.grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* section styling  */
/* header */

header {
    background-color: var(--pink);
}

.header-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 66px;
    z-index: 5;
}

.shopping-cart {
    height: 38px;
    display: none;
    justify-self: end;
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%) translateY(-500px);
    transition: transform 300ms ease-out;
    z-index: 1;
}

.nav-menu.open {
    background-color: var(--pink);
    width: 100%;
    transform: translateX(-50%) translateY(100px);
}

.nav-menu.open li {
    padding-block: 40px;
}

/* burger */

.burger {
    justify-self: end;
    z-index: 4;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: var(--blue);
    border-radius: 3px;
    margin: 3px;
    transition:
        transform 300ms ease-in,
        width 300ms ease-in;
}

.burger.open .bar1 {
    transform: rotate(45deg) translate(1px, -2px);
    width: 16px;
}

.burger.open .bar2 {
    transform: rotate(-45deg);
}

.burger.open .bar3 {
    transform: rotate(45deg) translate(15px, -12px);
    width: 16px;
}

/* section 1 */

.section-1 {
    background-color: var(--pink);
    position: relative;
    padding-bottom: min(21.735vw, 267.5px);
}

.section-1::after {
    content: "";
    width: min(43.47vw, 535px);
    height: min(43.47vw, 535px);
    background-image: url(img/cereal-bowl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* section 2 */

.section-2 {
    background: url(img/dots-background.png), var(--white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: min(calc(21.735vw + 90px), 357.5px) 80px;
}

.menu-section {
    border: 2px solid var(--blue);
    background-color: var(--white);
    padding: 65px 30px;
}

.menu-title {
    border: 2px solid var(--blue);
    background-color: var(--pink);
    padding-block: 34px;
    margin-bottom: 40px;
}

.menu-items {
    margin-block: 40px;
    text-align: left;
    width: calc(90vw - 120px);
}

.menu-list li {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.menu-list span {
    margin-inline: 20px;
}

.h-line {
    background-color: var(--blue);
    height: 2px;
    width: 100%;
    margin-block: 30px;
}

.menu-exchange-title {
    text-transform: uppercase;
    letter-spacing: 9.99px;
}

.menu-exchange-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px auto;
    width: calc(90vw - 120px);
}

.menu-exchange-items li {
    display: grid;
    grid-template-columns: 1fr auto auto;
    text-align: left;
}

.menu-exchange-items li h4 {
    text-align: center;
}

.menu-exchange-items span {
    margin-inline: 20px;
}

.menu-btn {
    display: block;
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 60px;
    border-radius: 90px;
    margin: 50px auto 0;
    width: 270px;
    height: 75px;
    border: 1px solid var(--blue);
}

.menu-btn:hover {
    background-color: var(--light-blue);
    color: var(--blue);
}

.menu-btn:active {
    background-color: var(--white);
}

/* combos section */

.section-3 {
    background-color:var(--light-blue);
    padding-block: 80px;
}

.combos-tagline span {
    display: block;
}

.combos-section {
    gap: 60px;
}

.combo-card {
    background-color: var(--pink);
    border: 2px solid var(--blue);
    padding: 50px;
}

.combo-card p {
    width: 18ch;
    text-transform: uppercase;
}

.combo-card span {
    display: block;
}

.combo-price {
    display: block;
    font-weight: 700;
}

.combo-btn {
    display: block;
    padding: 15px 45px;
    background-color: var(--pink);
    border-radius: 30px;
    border: 2px solid var(--blue);
    font-size: 16px;
    margin-top: 30px;
}

.combo-btn:hover {
    background-color: var(--white);
}

.combo-btn:active {
    background-color: var(--white);
    border-color: var(--white);
}

/* tiles section */

.tiles-container {
    background-color: var(--pink);
    display: grid;
    grid-template-columns: 1fr;
}

.tile {
    padding: min(10%, 135px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.tile1 {
    background-color: var(--baby-pink);
}

.tile1 img {
    width: 100%;
}

.tile2 {
    text-align: left;
    order: -1;
    align-items: start;
}

.tile2 h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-size: clamp(2rem, 1.8181818181818181rem + 0.9090909090909091vw, 2.5rem);
}

.tile2 p {
    margin-bottom: 2rem;
}

.tile3 h2 {
    text-align: left;
    font-size: 2rem;
    font-size: clamp(2rem, 1.8181818181818181rem + 0.9090909090909091vw, 2.5rem);
    margin-bottom: 60px;
}

.creator {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 38px;
}

.creator1 {
    margin-bottom: 70px;
}

.creator img {
    grid-row-start: span 2;
}

.creator p {
    text-align: left;
}

.creator-name {
    font-weight: 500;
}

.tile4 {
    background-color: var(--light-blue);
}

.tile4 img {
    width: 100%;
    padding: 50px;
}

/* info section */

.footer-section {
    background-color: var(--white);
}

.footer-container {
    margin-block: 135px 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.info p:first-child {
    font-weight: 500;
    margin-bottom: 20px;
}

.info p:nth-child(2) {
    width: 16ch;
    margin: 0 auto;
}

.info-image {
    justify-self: center;
}

.info img {
    height: 90px;
}

.follow-us {
    width: 10ch;
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.follow-us p {
    grid-column-start: span 2;
    margin-bottom: 25px;
}

.follow-us img {
    height: 23px;
}

/* copyright  */

.copyright {
    background-color: var(--light-blue);
    color: var(--blue);
    width: 100vw;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.6818181818181819rem + 0.3409090909090909vw, 0.9375rem);
    padding-block: 25px;
}

/* media query */

@media (min-width: 576px) {
    .menu-section {
        padding: 65px 60px;
    }
}

@media (min-width: 768px) {
    .menu-section {
        padding: 65px 100px;
    }

    .menu-items, 
    .menu-exchange-items {
        width: calc(90vw - 300px);
    }

    .tiles-container {
        grid-template-columns: 50% 50%;
    }
    
    .tile2 {
        text-align: left;
        order: 0;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 0;
        row-gap: 50px;
    }
    .follow-us {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {

    .shopping-cart {
        display: block;
    }

    .burger {
        display: none;
    }

    .nav-menu {
        position: static;
        top: 0;
        left: 0;
        transform:translateX(0) translateY(0);
        grid-column-start: span 2;
        display: flex;
        justify-content: space-between;
    }

    .header-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .menu-container {
        grid-template-columns: 1fr 1fr;
    }
    .menu-milk {
        justify-self: end;
    }

    .menu-items,
    .menu-list {
        width: 300px;
    }

    .menu-exchange-items {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .menu-exchange-items h4 {
        margin: 0;
    }

    .combos-section {
        grid-template-columns: auto auto;
    }

    .tile {
        aspect-ratio: 1 / 1;
    }

}

@media (min-width: 1200px) {
    .menu-list span {
        margin-inline: 30px;
    }

    .menu-items,
    .menu-list {
        width: 400px;
    }

    .combos-section {
        grid-template-columns: auto auto auto;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .info p {
        text-align: left;
    }
    .info p:nth-child(2) {
        margin: 0;
    }
    .info-image {
        justify-self: start;
    }

    .follow-us {
        grid-column: span 1;
    }

    .info-subsrcibe {
        grid-column: span 2;
    }

    .follow-us {
        margin: 0;
        justify-items: start;
    }
    
    .follow-us img {
        height: 23px;
    }
}

@media (min-width: 1200px) {

    .tiles-container {
        width: 1400px;
        margin: 0 auto;
    }

    .section-4 {
        background: url(img/dots-background.png), var(--white);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}