:root {
    --blue: #1d4c8b;
    --pink: #f5d1c9;
    --light-blue: #a8baca;
    --white: #fff8ee;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: var(--blue);
}

/* general text styling */

h2, h3, h4, a {
    text-transform: uppercase;
}

h1 {
    font-size: 145px;
    line-height: 145px;
    font-weight: 500;
}

h1 span {
    display: block;
    font-family: "Sacramento";
    font-size: 69px;
    line-height: 69px;
}

h2 {
    font-size: 81px;
    letter-spacing: 8px;
    line-height: 53px;
    font-weight: 700;
}

h3 {
    font-size: 27px;
    letter-spacing: 5px;
    line-height: 21px;
    font-weight: 500;
}

h4 {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 14px;
    font-weight: 700;
}

/* utilities */

.container {
    width: min(90%, 1240px);
    margin: 0 auto;
}

.reset,
.reset a {
    text-decoration: none;
    list-style: none;
    color: var(--blue);
    
}

.grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: var(--blue);
}

/* section styling  */
/* header */

header {
    background-color: var(--pink);
}

.header-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    height: 66px;
    z-index: 5;
}

.shopping-cart {
    display: none;
    justify-self: end;
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%) translateY(-500px);
    transition: transform 300ms ease-out;
    z-index: 1;
}

.nav-menu.open {
    background-color: var(--pink);
    width: 100%;
    transform: translateX(-50%) translateY(100px);
}

.nav-menu.open li {
    padding-block: 40px;
}

/* burger */

.burger {
    justify-self: end;
    z-index: 4;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: var(--blue);
    border-radius: 3px;
    margin: 3px;
    transition:
        transform 300ms ease-in,
        width 300ms ease-in;
}

.burger.open .bar1 {
    transform: rotate(45deg) translate(1px, -2px);
    width: 16px;
}

.burger.open .bar2 {
    transform: rotate(-45deg);
}

.burger.open .bar3 {
    transform: rotate(45deg) translate(15px, -12px);
    width: 16px;
}

/* section 1 */

.section-1 {
    background-color: var(--pink);
}

.section-2 {
    background-image: url(img/dots-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* media query */

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    .shopping-cart {
        display: block;
    }
    .burger {
        display: none;
    }
    .nav-menu {
        position: static;
        top: 0;
        left: 0;
        transform:translateX(0) translateY(0);
        grid-column-start: span 2;
        display: flex;
        justify-content: space-between;
    }
    .header-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    
}