/*
Da li je html struktira dobra? Konkretno to što ide div pa nav pa tek onda header? Da li je bolje sve to strpati u header?
*/

:root {
    --pre-nav-grey: #e1e1e1;
    --pre-nav-text: #707070;
    --white: #fff;
    --orange: #fcb440;
    --grey: #636363;
    --light-blue: #578199;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url(fonts/OpenSans-Bold.ttf) format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth
}

html,
body {
    width: 100%;
}

/* text styling ***************************************************/

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 53px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 37px;
}

h2,
p,
a {
    font-size: 21px;
    color: var(--grey);
}

h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-block: 50px 20px ;
}

p {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration: underline;
}

.section-4 h2,
.section-4 p,
.section-4 a {
    color: var(--white);
}

/* buttons ******************************************/

.press-button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--grey);
    border: 1px solid var(--grey);
    padding: 10px 46px;
}

.press-button:hover {
    background-color: var(--orange);
    text-decoration: none;
}

/* utilities ********************************************/

.container {
    width: min(90%, 1100px);
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item {
    display: grid;
    justify-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sidebyside {
    flex-direction: column;
}

/* nav styling *********************************************/

.pre-nav-container {
    background-color: var(--pre-nav-grey);
    position: relative;
    z-index: 4;
}

.pre-nav {
    justify-content: space-between;
    height: 25px;
}

.login-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.login-container a:first-child {
    border-right: 1px solid var(--pre-nav-text);
    padding-right: 6px;
}

.search-btn {
    display: inline-block;
    background-image: url(icons/search-icon.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    margin-left: 21px;
    cursor: pointer;
}

.pre-nav a {
    font-size: 14px;
    color: var(--pre-nav-text);
}

.logo-section {
    background-color: var(--orange);
    filter: drop-shadow(-1.902px 0.618px 2.5px rgba(0,1,1,0.41));
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    background-color: var(--orange);
    border-top: 1px solid var(--pre-nav-grey);
    filter: drop-shadow(-1.902px 0.618px 2.5px rgba(0,1,1,0.41));
    padding: 6px 0;
    z-index: 2;
    position: absolute;
    top: 147px;
    width: 100%;
    transform: translateY(-900px);
    transition: all 300ms ease-in-out;
}

.nav-section.show {
    transform: translateY(0px);
}

.nav-section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-section ul li {
    padding: 40px 0;
}

.nav-logo {
    display: block;
    margin: 0 5vw;
    padding: 14px 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li,
ul li a {
    text-decoration: none;
    list-style: none;
    text-indent: 0;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--grey);
    cursor: pointer;
}

ul li:hover,
ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--pre-nav-grey);
    text-decoration-thickness: 5px;
    text-underline-offset: 6px;
}

/* burger */

.burger {
    display: block;
    margin-right: 5vw;
}

.burger div {
    background-color: #333;
    width: 42px;
    height: 5px;
    margin-bottom: 4px;
}

.burger div:last-child {
    margin: 0;
}

.bar {
    transition: all 300ms ease-in-out;
}

.bar1 {
    transform-origin: left center;
}

.bar3 {
    transform-origin: right center;
}

.bar1.active {
    transform: rotate(45deg) translate(0px, -8px);
    width: 25px;
}

.bar2.active {
    transform: rotate(-45deg);
}

.bar3.active {
    transform: rotate(45deg) translate(11px, -3px);
    width: 25px;
}

/* header styling ********************************************/

.header-background {
    background-image:
        url(img/header-background-overlay.png),
        url(img/header-background-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -412px;
    height: 895px;
    position: relative;
    z-index: -1;
}

.header-image {
    position: absolute;
    bottom: 0;
}

.header-image img {
    width: 95%;
}

/* sections styling *******************************************/

.section-1,
.section-3,
.section-5 {
    background-color: var(--white);
}

.section-2 {
    background-color: var(--orange);
}

footer {
    background-color: var(--grey);
}

/* section 1 */

.press-button {
    margin: 50px auto;
}

.section-1-img {
    width: min(100%, 644px);
}

/* section 2 */

.section-2-img {
    margin-top: 50px;
    width: min(100%, 530px);
}

/* section 3 */

.feature {
    margin-top: 66px;
}

.feature p {
    margin-block: 35px 25px;
}

.feature a {
    justify-self: end;
}

/* section 4  */

.section-4 {
    background:
        linear-gradient(0deg, rgba(252, 180, 64, 0.9),
        rgba(252, 180, 64, 0.9)), url(img/section-4-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-4 h2 {
    padding-top: 50px;
}

.testemonials-container {
    justify-items: center;
}

.testemonial {
    width: min(100%, 320px);
    padding-bottom: 50px;
}

.testemonial img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 56px auto;
}

.testemonial-name {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.testemonial a {
    display: block;
    text-align: right;
}

/* section 5 */

.logo-bar {
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 50px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.animation-container {
    transform: translate3d(0, 0, 0);
    animation: logosSlideShow 16s linear infinite;
    display: flex;
}

@keyframes logosSlideShow {
    100% { 
      transform: translateX(-50%);  
    }
}

.logo-bar img {
    filter: grayscale(100%);
    opacity: .5;
    transition: all 300ms ease-in-out;
}

.logo-bar img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* footer */

footer p {
    color: var(--white);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.address-container {
    flex-direction: column;
    text-align: center;
}

.address-container > img {
    margin-top: 50px;
}

.address-container p {
    font-size: 16px;
    line-height: 2;
}

.address-container > p:first-of-type {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 31px;
    margin-block: 26px 18px;
}

.address-container span {
    display: block;
}

.footer-link p {
    margin: 0 0 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--white);
}

.footer-social {
    margin-top: 42px;
}

.footer-social img {
    margin: 3px;
    transition: filter 200ms ease-out;
}

.footer-social img:hover,
.footer-link img:hover,
.footer-link:hover {
    filter: invert(50%) sepia(11%) saturate(1370%) hue-rotate(158deg) brightness(92%) contrast(84%);
}

.form-container {
    width: min(100%, 500px);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 6px;
}

label {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 31px;
    text-align: center;
    color: var(--white);
    margin-block: 50px 25px;
}

.inputs {
    background-color: var(--grey);
    border: 1px solid var(--white);
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    padding: 6px 8px;
}

.inputs:focus {
    outline: none;
}

.inputs:hover {
    border: 1px solid var(--light-blue);
}

.inputs::placeholder {
    opacity: 1;
    color: var(--white);
}

.textarea {
    resize: none;
}

.textarea::placeholder {
    font-family: "Open Sans";
}

.submit-btn {
    border-radius: 28px;
    padding: 6px 45px;
    margin-top: 30px;
    width: 100%;
    color: var(--white);
}

.submit-btn:active {
    background-color: var(--white);
    color: var(--light-blue);
}

.copyright {
    font-size: 18px;
    text-align: center;
    padding-block: 50px;
    margin-bottom: 0;
}

/* back2top */

.back-top-btn {
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--pre-nav-grey);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
}

.arrow1,
.arrow2 {
    width: 30px;
    height: 5px;
    background-color: var(--pre-nav-text);
}

.arrow1 {
    transform: rotate(-45deg) translate(-12px, 22px);
    border-radius: 0 0 0 5px;
}

.arrow2 {
    transform: rotate(45deg) translate(31px, -4px);
    border-radius: 0 0 5px 0;
}

/* media query **************************************************/

@media only screen and (min-width: 576px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 54px;
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 54px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }

    .form-container {
        order: 2;
        display: grid;
        justify-content: end;
    }

    .address-container {
        order: 1;
        text-align: left;
    }

    .address-container.flex-center {
        display: block;
    }

    .footer-link.flex-center {
        justify-content: start;
    }
}

@media only screen and (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 54px;
    }

    h2 + p {
        padding-inline: 46px;
    }

    .logo-section {
        position: static;
    }

    .nav-logo {
        margin: 0 auto;
    }

    .nav-section {
        transform: translateY(0px);
    }

    .nav-section ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-section ul li {
        padding: 0;
    }

    .burger {
        display: none;
    }

    .footer-container {
        padding-inline: 45px;
    }

    form {
        grid-template-columns: 1fr 1fr;
    }

    label {
        grid-column-start: span 2;
        text-align: left;
    }

    .textarea {
        grid-column-start: span 2;
    }

    .submit-btn {
        margin-left: auto;
        width: auto;
    }
}

@media only screen and (min-width: 1100px) {
    .flex-sidebyside {
        flex-direction: row;
    }

    .header-background {
        background-position: center;
    }

    .header-image img {
        width: 100%;
    }

    .section-1-img {
        margin-bottom: 50px;
        width: 644px;
    }

    .section-2 .flex-center {
        gap: 40px;
        align-items: flex-start;
    }

    .section-2-img {
        margin-bottom: 65px;
        width: 530px;
    }

    .section-2-text h2 {
        text-align: left;
        margin-bottom: 62px;
    }

    .section-2-text p {
        padding: 0;
    }
}